body{
    background-color: rgb(247, 242, 242);
}

@font-face {
    font-family: 'Baskerville italic';
    font-style: normal;
    font-weight: 400;
    src: url('BASKE10.woff') format('woff');
  }

@font-face {
    font-family: 'Baskerville regular';
    font-style: normal;
    font-weight: 400;
    src: url('BASKE9.woff') format('woff');
  }


  ul {
    list-style-type: none;
    margin: 6px;
    padding: 5px;
    text-align: center;
  }
  
  li {
    font-family: 'Baskerville italic';
    font-size: 1rem;
    display: inline;
    padding:70px;
  }
  
  a:link {
    text-decoration: none;
    color: rgb(5, 5, 5);
  }
  
  a:visited {
    color: rgb(10, 10, 10);
  }

  a:hover {
    color:rgb(109, 109, 109) ;
  }

  h1{
    font-family: 'Baskerville italic';
    color: rgb(112, 111, 111);
    text-align: center;
    font-size: 6rem;
    font-size: 6rem;
    text-shadow: 2px 2px rgb(9, 9, 248);
  }

  .main{
    color: rgb(16, 16, 17);
    max-width:81rem;
    margin-top: -2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    text-indent: 50px;
    text-align: justify;
    font-size: 1.5rem;
    background: rgb(117,195,241);
background: radial-gradient(circle, rgba(117,195,241,1) 0%, rgb(173, 194, 238) 48%, rgba(65,44,247,1) 100%);
}

.main:hover{
  animation: mymove 5s;
}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px blue;}
}

.main2{
    color: rgb(121, 121, 122);
    max-width:81rem;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
}

.allnote{
    position: relative;
    margin-left: 9rem;
}

.note{
    font-family: 'Baskerville regular';
    font-size: 2rem;
    position: relative;
    margin-top: 2rem;
    padding: 44px;
    background-image: linear-gradient(rgb(26, 41, 241), rgb(250, 250, 245), rgb(15, 19, 252));
    text-align: center;
    width: 26rem;
    height: 36rem;
    overflow: scroll;
  }

  .note2{
    font-family: 'Baskerville regular';
    font-size: 2rem;
    position: relative;
    margin-top: -41.5rem;
    left: 33rem;
    padding: 44px;
    background-image: linear-gradient(rgb(244, 245, 250), rgb(9, 5, 252), rgb(253, 253, 253));
    text-align: center;
    width: 26rem;
    height: 36rem;
    overflow: scroll;
  }

  .note3{
    font-family: 'Baskerville regular';
    font-size: 2rem;
    position: relative;
    margin-top: -41.5rem;
    left: 66rem;
    padding: 44px;
    background-image: linear-gradient(rgb(26, 41, 241), rgb(250, 250, 245), rgb(15, 19, 252));
    text-align: center;
    width: 24rem;
    height: 36rem;
    overflow: scroll;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {

  ul{
    margin: -75px;
    padding: 57px;
  }

  li{
    padding:22px;
    margin-top: 1rem;
    display: inline-block;
  }

  h1{
    font-size: 4rem;
  }

  .main{
    max-width: 20rem;
    font-size: 1rem;
    text-shadow: 0.5px 0.5px rgb(245, 245, 245);
  }

.main2{
  max-width: 21rem;
  margin-top: 2rem;
}

.note{
  font-size: 1rem;
  position: absolute;
  margin-top: 30rem;
  margin-left: -9rem;
  padding: 40px;
  width: 18rem;
    height: 16rem;
}

.note2{
  font-size: 1rem;
    position: absolute;
    margin-top: 14.5rem;
    left: -9rem;
    padding: 34px;
    width: 19rem;
    height: 10rem;
}

.note3{
  font-size: 1rem;
    position: absolute;
    margin-top: -0.5rem;
    left: -8rem;
    width: 15rem;
    height: 9rem;
}

}