body{
    background-color: rgb(13, 28, 241);
}

@font-face {
    font-family: 'Baskerville italic';
    font-style: normal;
    font-weight: 400;
    src: url('BASKE10.woff') format('woff');
  }

@font-face {
    font-family: 'Baskerville regular';
    font-style: normal;
    font-weight: 400;
    src: url('BASKE9.woff') format('woff');
  }


  ul {
    list-style-type: none;
    margin: 6px;
    padding: 5px;
    text-align: center;
  }
  
  li {
    font-family: 'Baskerville italic';
    font-size: 1rem;
    display: inline;
    padding:70px;
  }
  
  a:link {
    text-decoration: none;
    color: rgb(250, 249, 246);
  }
  
  a:visited {
    color: rgb(252, 251, 249);
  }

  a:hover {
    color:rgb(80, 79, 78) ;
  }

  h1{
    font-family: 'Baskerville italic';
    color: rgb(250, 249, 246);
    text-align: center;
    font-size: 6rem;
    text-shadow: 2px 2px rgb(69, 69, 70);
  }

  .main{
    color: blanchedalmond;
    max-width:30rem;
    margin-top: -2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-indent: 50px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes mymove {
  50% {margin-top: 50px;}
}

.main:hover{
  animation: mymove 5s;
}

.main2{
  position: relative;
  color: blanchedalmond;
  max-width:30rem;
  margin-top: -49rem;
  margin-left: 34rem;
  font-size: 1.5rem;
  text-indent: 50px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}


.main3{
  position: relative;
  color: blanchedalmond;
  max-width:30rem;
  margin-top: -33rem;
  margin-left: 67rem;
  font-size: 1.5rem;
  text-indent: 50px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.main:hover, .main3:hover, .main2:hover{
  background-color: rgb(2, 238, 73);
  color: rgb(248, 244, 244);
}


.note{
  font-family: 'Baskerville regular';
  font-size: 3rem;
  position: relative;
  margin-top: 8rem;
  left: 34rem;
  padding: 30px;
  background-image: linear-gradient(rgb(97, 95, 95), rgb(250, 250, 245), rgb(94, 93, 93));
  text-align: center;
  width: 56rem;
  height: 9rem;
  overflow: scroll;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {

  ul{
    margin: -75px;
    padding: 57px;
  }

  li{
    padding:22px;
    margin-top: 1rem;
    display: inline-block;
  }

  h1{
    font-size: 4rem;
  }

  .main{
    max-width: 19rem;
    margin-top: -2rem;
    margin-left: 1rem;
    font-size: 1rem;
  }

  .main2{
    position: absolute;;
    max-width: 19rem;
    margin-top: 0rem;
    margin-left: 0rem;
    font-size: 1rem;
  }

  .main3{
    position: absolute;;
    max-width: 20rem;
    margin-top: 24rem;
    margin-left: 2rem;
    font-size: 1rem;
  }

  .note{
    font-size: 1.5rem;
    margin-top: 45rem;
    left: 1px;
    padding: 32px;
    width: 18rem;
    height: 6rem;
  }

}
