body{
    background-color: black;
}

@font-face {
    font-family: 'Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('BaskervilleBoldBT.woff') format('woff');
  }

  

.flex-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: -100px;
    padding: 0;
}

.flex-list li{
    font-family: 'Baskerville';
    font-size: 14rem;
    color: rgb(252, 250, 250);
    margin: 0;
    padding: 10px;
}


  a:hover {
    color: rgb(33, 30, 235);
  }


#title{
    color: white;
    font-family: 'Baskerville';
    font-size: 3rem;
    text-shadow: 2px 2px rgb(47, 0, 255);
}

#author{
    color: white;
    font-family: 'Baskerville';
    font-size: 2rem;
    text-shadow: 2px 2px rgb(47, 0, 255);
}

.scroll{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    left: 0;
    right: 0;
    padding: 60px;
    background-image: linear-gradient(rgb(15, 15, 15), rgb(250, 250, 245), rgb(10, 10, 10));
    text-align: center;
    width: 30rem;
    height: 70rem;
    overflow: scroll;
}

.scrolltext{
    font-family: 'Baskerville';
    font-size: 3rem;
    color: rgb(154, 163, 243);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    body{
        background-color: rgb(248, 244, 244);
    }

    .flex-list{
        margin: -71px;
        overflow: hidden;
    }

    .flex-list li{
        font-family: 'Baskerville';
        font-size: 9rem;
        color: rgb(8, 8, 8);
        margin: 0;
        padding: 10px;
    }
    .scroll{
        margin-top: 10rem;
       left: 5px;
       width: 6rem;
       height: 25rem;
    }

    .scrolltext{
        font-size: 0.7rem;
    }

    #title{
        font-size: 1.5rem;
    }

    #author{
        font-size: 0.9rem;
    }

    a:hover {
        color: rgb(8, 8, 8);
      }

    }

  

 